{# The contact page #}

{% extends "_common.njk" %}
 
{% block content %}
<div class="contactTitle">
	<h1>You want to prepare the future with us ?</h1>
	<h2>Contact us !</h2>
</div>
<div class="container-fluid">
<h3 class="text-center">Contact Address</h3>
<hr>
 <div class="row">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5061.480388683469!2d5.587616573552645!3d50.6319430033575!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2c9f9204e1bb92b!2zUMO0bGUgaW1hZ2UgZGUgTGnDqGdl!5e0!3m2!1sfr!2sbe!4v1550320492324" width="60%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
 </div>
	<div class="row text-center">
	  <div class="col-4 box1 pt-4">
        <a href="#><i class="fas fa-phone fa-3x"></i>
        <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
        <p class="d-none d-lg-block d-xl-block">0498 20 43 73</p></a>
      </div>
      <div class="col-4 box2 pt-4">
        <a href=""><i class="fas fa-home fa-3x"></i>
        <h3 class="d-none d-lg-block d-xl-block">Address</h3>
        <p class="d-none d-lg-block d-xl-block">Rue de Mulhouse 36, 4020 Liège</p></a>
      </div>
      <div class="col-4 box3 pt-4">
        <a href="#"><i class="fas fa-envelope fa-3x"></i>
        <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
        <p class="d-none d-lg-block d-xl-block">joe.michel.f@gmail.com</p></a>
      </div>
	</div>
</div>
<form>
  <fieldset>
    <div class="form-group">
      <label for="exampleInputEmail1">Your E-mail adress:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Your message:</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
{% endblock %}