{# The Team presentation page #}

{% extends "_common.njk" %}
 
{% block content %}
<h1 class="textCenter">Collaborators: We are legends</h1>
<div class="cards">
	<div class="card" >
  <img src="./_shared/img/joe.png" class="card-img-top" alt="#">
  <div class="card-body">
    <h5 class="card-title">Joé Michel: Founder and CEO</h5>
    <blockquote class="blockquote text-center">
	    <p class="mb-0">“No matter what people tell you, words and ideas can change the world.”</p>
	    <footer class="blockquote-footer">Robin Williams<cite title="Source Title"></cite></footer>
  	</blockquote>
  </div>
</div>
	<div class="card" >
  <img src="./_shared/img/Mat.jpg" class="card-img-top" alt="#">
  <div class="card-body">
    <h5 class="card-title">Steven Grant: fullstack web developper</h5>
    <blockquote class="blockquote text-center">
	    <p class="mb-0">“A clever person solves a problem. A wise person avoids it.”</p>
	    <footer class="blockquote-footer">Albert Einstein<cite title="Source Title"></cite></footer>
  	</blockquote>
  </div>
</div>
	<div class="card" >
  <img src="./_shared/img/sam.png" class="card-img-top" alt="#">
  <div class="card-body">
    <h5 class="card-title">Alvin Mathews: front-end web developper</h5>
    <blockquote class="blockquote text-center">
	    <p class="mb-0">“Only put off until tomorrow what you are willing to die having left undone”</p>
	    <footer class="blockquote-footer">Pablo Picasso<cite title="Source Title"></cite></footer>
  	</blockquote>
  </div>
</div>
	<div class="card" >
  <img src="./_shared/img/ludi.png" class="card-img-top" alt="#">
  <div class="card-body">
    <h5 class="card-title">Anna Guzman: back-end web developper</h5>
    <blockquote class="blockquote text-center">
	    <p class="mb-0">“Experience is merely the name men gave to their mistakes.” </p>
	    <footer class="blockquote-footer">Oscar Wilde<cite title="Source Title"></cite></footer>
  	</blockquote>
  </div>
</div>
	<div class="card" >
  <img src="./_shared/img/narine.jpg" class="card-img-top" alt="#">
  <div class="card-body">
    <h5 class="card-title">Alyce Barron: marketing and communication</h5>
    <blockquote class="blockquote text-center">
	    <p class="mb-0">“Don’t let the noise of others’ opinions drown out your own inner voice.”</p>
	    <footer class="blockquote-footer">Steve Jobs<cite title="Source Title"></cite></footer>
  	</blockquote>
  </div>
</div>
	<div class="card" >
  <img src="./_shared/img/jamal.png" class="card-img-top" alt="#">
  <div class="card-body">
    <h5 class="card-title">Thierry Giles: talented designer</h5>
    <blockquote class="blockquote text-center">
	    <p class="mb-0">“Normality is a paved road: It’s comfortable to walk,﻿ but no flowers grow on it.”</p>
	    <footer class="blockquote-footer">Vicent Van Gogh<cite title="Source Title"></cite></footer>
  	</blockquote>
  </div>
</div>
</div>
{% endblock %}